body {
    background-color: white;
}
.fc-left, .fc-right {
    visibility: hidden;
}

.secondary-navigation, #barBottomContainer, #layout_wrapper #flex-header, #layout-sidebar, #layout_footer {
    display: none;
}
