#study_area_tree ol.children {
    list-style-type: none;
    padding: 0px;
  }
  #study_area_tree ol.children > li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: 2px;
  }
  #study_area_tree ol.children > li .checker {
    width: 20px;
    cursor: pointer;
  }
  #study_area_tree ol.children > li .checker input {
    display: none;
  }
  #study_area_tree ol.children > li .checker input + img + img {
    display: none;
  }
  #study_area_tree ol.children > li .checker input + img {
    display: inline-block;
  }
  #study_area_tree ol.children > li .checker input:checked + img + img {
    display: inline-block;
  }
  #study_area_tree ol.children > li .checker input:checked + img {
    display: none;
  }
  #study_area_tree .up {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #study_area_tree .up .unsetter {
    display: inline-block;
    width: 20px;
  }
  #study_area_tree .up .unsetter input {
    display: none;
  }
  #study_area_tree .up .unsetter input + img {
    cursor: pointer;
  }
  #study_area_tree .up .unsetter input + img + img {
    display: none;
  }
  #study_area_tree .up .unsetter input:checked + img {
    display: none;
  }
  #study_area_tree .up .unsetter input:checked + img + img {
    display: inline-block;
  }