.fc-header-toolbar {
    .fc-left {
        h2 {
            display: none;
        }
    }
}
#calendar {
    .fc-button {
        border-radius: 0px;
    }
    .fc-head .fc-widget-header .fc-widget-header {
        background-color: #e7ebf1;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .fc-event {
        border-radius: 0px;
        border: solid @content-color-60 1px;
        background-color: @content-color-20;
    }
}